.main-member {
  text-align: end;
  margin-right: 0.8rem;
  list-style-type: none;
  margin-bottom: 0.5rem;
  padding-left: 2%;
}
.main-member span {
  color: orange !important;
  font-weight: bold;
  font-size: 0.8rem;
  font-style: italic;
}
.other-member {
  text-align: start;
  margin-left: 0.8rem;
  list-style-type: none;
  margin-bottom: 0.5rem;
  padding-right: 2%;
}
.other-member span {
  font-weight: bold;
  font-size: 0.8rem;
  font-style: italic;
}
